html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding:0px;
    margin:0px;
}

#myCanvas {

    width:100%;
    height:100%;
}

#HOME {
    width:100%; 
    height: 100%;
    background-image : url(../images/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#buttonPlay {
    background : no-repeat center/35% url(../images/bouton_play.png);
    position: fixed;
    height: 15%;
    width: 15%;
    left: 66%;
    top: 80%;
}

#buttonPlay:hover {
    background: no-repeat center/35% url(../images/fond_hover.png);
    cursor: pointer;
    position: fixed;
    height: 15%;
    width: 25%;
    left: 60%;
    top: 80%;
}

#bouttonRegle {
    background : no-repeat center/100% url(../images/bouton_regle.png);
    position: fixed;
    height: 15%;
    width: 15%;
    left: 75%;
    top: 5%;

} 

#bouttonRegle:hover{
    background: no-repeat center/20% url(../images/regles_ecrite.png);
    cursor: pointer;
    position: fixed;
    height: 130%;
    width: 150%;
    left: -60%;
    top: -30%;

}

